<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHfwixV3zar5clCiGWVjdsw3Dd_3fEb_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>687218726386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cyberbitrixx.To-Do-List</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-d3b60</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-d3b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687218726386:ios:e43cc4dde3b93641fb076b</string>
</dict>
</plist>